In [46]:
import numpy as np
import matplotlib.pyplot as plt

<h1>МОЙ 12 вариант</h1>

In [47]:
my = [1, 8, 20, 28, 20, 7, 14, 2]
mx = [8, 16, 18, 30, 18, 10] 
x = [10,13,16,19,22,25]
y = [110, 130, 150, 170, 190, 210, 230, 250]
mij = [[1, 3, 4, 0, 0, 0, 0, 0], [0, 5, 6, 5, 0, 0, 0, 0], [0, 0, 4, 8, 6, 0, 0, 0], 
[0, 0, 6, 15, 9, 0, 0, 0], [0, 0, 0, 0, 5, 6, 7, 0], [0, 0, 0, 0, 0, 1, 7, 2]]
n = 100

<h1>ПРИМЕР</h1>

In [48]:
my = [2, 4, 9, 24, 26, 19, 11, 5]
mx = [23, 25, 26, 13, 8, 5] 
x = [60, 90, 120, 150, 180, 210]
y = [4.5, 6, 7.5, 9, 10.5, 12, 13.5, 15]
mij = [[2, 4, 3, 10, 4, 0, 0, 0], [0, 0, 6, 14, 5, 0, 0, 0],
[0, 0, 0, 0, 17, 5, 4, 0], [0, 0, 0, 0, 0, 8, 3, 2], [0, 0, 0, 0, 0, 4, 3, 1], [0, 0, 0, 0, 0, 2, 1, 2]]

In [49]:
np.sum(mx)

100

In [50]:
sumx = 0
sumy = 0
for i in range(len(x)):
   sumx+=(mx[i]*x[i])
   print(f"{mx[i]}: {mx[i]*x[i]}")
print("\n")
for i in range(len(y)):
   sumy+=(my[i]*y[i])
   print(f"{my[i]}: {my[i]*y[i]}")

print(sumx, sumy)

23: 1380
25: 2250
26: 3120
13: 1950
8: 1440
5: 1050


2: 9.0
4: 24
9: 67.5
24: 216
26: 273.0
19: 228
11: 148.5
5: 75
11190 1041.0

In [51]:
ans = 0
for i in range(6):
   tmp = 0
   for j in range(8):
      tmp+=mij[i][j]*y[j]
   ans+=(x[i]*tmp)
print(ans)

124245.0

In [52]:
ans = 0
for i in range(6):
   ans+=(mx[i]*(x[i]**2))
print(ans)
ans = 0

for j in range(8):
   ans+=(my[j]*(y[j]**2))
print(ans)

1431900
11367.0

In [54]:
(1431900-(11190)**2/100)/99

1815.5454545454545

In [39]:
ans = 0
for j in range(8):
      tmp = 0
      for i in range(6):
            tmp+=mij[i][j]*x[i]
      ans+=tmp
      print(f"{j}: {tmp}")
ans

0: 120
1: 240
2: 720
3: 1860
4: 2730
5: 2940
6: 1680
7: 900

11190

In [40]:
ans = 0
for i in range(6):
      tmp = 0
      for j in range(8):
            tmp+=mij[i][j]*y[j]
      ans+=tmp
      print(f"{i}: {tmp}")
ans

0: 187.5
1: 223.5
2: 292.5
3: 166.5
4: 103.5
5: 67.5

1041.0

In [41]:
ans = 0
for i in range(6):
      tmp = 0
      tmp+=((x[i]**2)*mx[i])
      ans+=tmp
      print(f"{i}: {tmp}")
ans

0: 82800
1: 202500
2: 374400
3: 292500
4: 259200
5: 220500

1431900

In [42]:
ans = 0
for j in range(8):
      tmp = 0
      tmp+=((y[j]**2)*my[j])
      ans+=tmp
      print(f"{j}: {tmp}")
ans

0: 40.5
1: 144
2: 506.25
3: 1944
4: 2866.5
5: 2736
6: 2004.75
7: 1125

11367.0

In [43]:
ans = 0
for j in range(8):
      tmp = 0
      for i in range(6):
            tmp+=mij[i][j]*x[i]
      tmp*=y[j]
      ans+=tmp
      print(f"{j}: {tmp}")
ans

0: 540.0
1: 1440
2: 5400.0
3: 16740
4: 28665.0
5: 35280
6: 22680.0
7: 13500

124245.0

In [44]:
ans = 0
for i in range(6):
      tmp = 0
      for j in range(8):
            tmp+=mij[i][j]*y[j]
      tmp*=x[i]
      ans+=tmp
      print(f"{i}: {tmp}")
ans

0: 11250.0
1: 20115.0
2: 35100.0
3: 24975.0
4: 18630.0
5: 14175.0

124245.0

In [45]:
112.24/(4.25*31.57)

0.8365350574819727