In [126]:
import numpy as np
import matplotlib.pyplot as plt

<h1>МОЙ 3 вариант</h1>

In [127]:
my = [3, 2, 15, 24, 22, 14, 12, 8]
mx = [6,9,23,26,14,22] 
x = [1.00,1.20,1.40,1.60,1.80,2.00]
y = [22.0,22.4,22.8,23.2,23.6,24.0,24.4,24.8]
mij = [
        [3, 2, 1, 0, 0, 0, 0, 0],
        [0, 0, 4, 5, 0, 0, 0, 0], 
        [0, 0, 10, 7, 6, 0, 0, 0], 
        [0,0,0,12,9,5,0,0],
        [0, 0, 0, 0, 7, 4, 3, 0], 
        [0, 0, 0, 0, 0, 5, 9, 8], ]
n = 100

<h1>ПРИМЕР</h1>

In [128]:
np.sum(mx)

100

In [129]:
sumx = 0
sumy = 0
for i in range(len(x)):
   sumx+=(mx[i]*x[i])
   print(f"{mx[i]}: {mx[i]*x[i]}")
print("\n")
for i in range(len(y)):
   sumy+=(my[i]*y[i])
   print(f"{my[i]}: {my[i]*y[i]}")

print(sumx, sumy)

6: 6.0
9: 10.799999999999999
23: 32.199999999999996
26: 41.6
14: 25.2
22: 44.0


3: 66.0
2: 44.8
15: 342.0
24: 556.8
22: 519.2
14: 336.0
12: 292.79999999999995
8: 198.4
159.8 2356.0

In [130]:
ans = 0
for i in range(6):
   tmp = 0
   for j in range(8):
      tmp+=mij[i][j]*y[j]
   ans+=(x[i]*tmp)
print(ans)

3782.24

In [131]:
ans = 0
for i in range(6):
   ans+=(mx[i]*(x[i]**2))
print(ans)
ans = 0

for j in range(8):
   ans+=(my[j]*(y[j]**2))
print(ans)

263.96000000000004
55552.64

In [132]:
(263-(159**2)/100)/99

0.10292929292929291

In [133]:
ans = 0
for j in range(8):
      tmp = 0
      for i in range(6):
            tmp+=mij[i][j]*x[i]
      ans+=tmp
      print(f"{j}: {tmp}")
ans

0: 3.0
1: 2.0
2: 19.8
3: 35.0
4: 35.4
5: 25.2
6: 23.4
7: 16.0

159.79999999999998

In [134]:
ans = 0
for i in range(6):
      tmp = 0
      for j in range(8):
            tmp+=mij[i][j]*y[j]
      ans+=tmp
      print(f"{i}: {tmp}")
ans

0: 133.6
1: 207.2
2: 532.0
3: 610.8
4: 334.40000000000003
5: 538.0

2356.0

In [135]:
ans = 0
for i in range(6):
      tmp = 0
      tmp+=((x[i]**2)*mx[i])
      ans+=tmp
      print(f"{i}: {tmp}")
ans

0: 6.0
1: 12.959999999999999
2: 45.07999999999999
3: 66.56000000000002
4: 45.36
5: 88.0

263.96000000000004

In [136]:
ans = 0
for j in range(8):
      tmp = 0
      tmp+=((y[j]**2)*my[j])
      ans+=tmp
      print(f"{j}: {tmp}")
ans

0: 1452.0
1: 1003.5199999999999
2: 7797.6
3: 12917.76
4: 12253.12
5: 8064.0
6: 7144.319999999999
7: 4920.320000000001

55552.64

In [137]:
ans = 0
for j in range(8):
      tmp = 0
      for i in range(6):
            tmp+=mij[i][j]*x[i]
      tmp*=y[j]
      ans+=tmp
      print(f"{j}: {tmp}")
ans

0: 66.0
1: 44.8
2: 451.44000000000005
3: 812.0
4: 835.44
5: 604.8
6: 570.9599999999999
7: 396.8

3782.2400000000007

In [138]:
ans = 0
for i in range(6):
      tmp = 0
      for j in range(8):
            tmp+=mij[i][j]*y[j]
      tmp*=x[i]
      ans+=tmp
      print(f"{i}: {tmp}")
ans

0: 133.6
1: 248.64
2: 744.8
3: 977.28
4: 601.9200000000001
5: 1076.0

3782.24

In [139]:
(55552.64-(2356**2)/100)/99

0.4573737373737256

In [140]:
(3792.24-(159.8*2356)/100)/99

0.2762828282828223